


.logo{
    width: 70px;
    height: 53px;
}
.bg-gradient-courrier{
    background-color: #4e73df;
    background-image: linear-gradient(180deg,#35050c  60%,#50282b 100%);
    background-size: cover;
}
.bg-b{
    background-color: #FAF0E7;
}
.logo-header .logo-login{
    width: 150px;
    height: 100px;
    text-align: center;
}
.card-header{
    background-color: white!important;

}
.form-check{
    text-align:start!important;
}
.login-btn{
    background-color: #6C0B1C!important;
    color: white!important;
}
.card-header h2{
    color: #A02047;font-weight: bold;
}
.link-b{
    color: #DEB786!important;
}
/* courrier Styleshow */
.courrier-s{
    border: 2px solid #DEB786;
    /* width: 100%;height: auto; */
    border-radius: 20px;padding: 50px;
    margin: 30px 0;
}
.courrier-s .courrier-info{
    /* text-align: right; */
    float: right;
}
.courrier-s .logo{
    width: 170px;height: auto;
}
.objet {
    text-align: center;
    font-size: 17px;
    margin-top: 35px;
    margin-bottom: 20px;
}
.content {
    text-align: justify;
    font-size: 17px;
    margin: 35px;
}
.btn-valider{
    text-align: center;
}