


.logo{
    width: 70px;
    height: 53px;
}
.bg-gradient-courrier{
    background-color: #4e73df;
    background-image: linear-gradient(180deg,#550916  10%,#814348 100%);
    background-size: cover;
}
.bg-b{
    background-color: #FAF0E7;
}
.logo-header .logo-login{
    width: 150px;
    height: 100px;
    text-align: center;
}
.card-header{
    background-color: white!important;

}
.form-check{
    text-align:start!important;
}
.login-btn{
    background-color: #6C0B1C!important;
    color: white!important;
}
.card-header h2{
    color: #A02047;font-weight: bold;
}
.link-b{
    color: #DEB786!important;
}